* {
  font-family: "Segoe UI";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background: #333333 no-repeat;
  text-align: center;
  color: white;
  padding: 2%;
  margin-top: 20px;
}
/* NavBar */
.nav-container {
  width: 100%;
  overflow: hidden;
  background-color: gray;
  position: fixed;
  top: 0;
  /* height: 84.41px;  */
  /* Change to height of logo  */
  z-index: 10;
}
.topnav .logo img {
  max-width: 150px;
}
.topnav .logo {
  padding: 0 0;
  height: 84.41px;
}
nav {
  float: right;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  /* background-color: #4caf50; */
  text-decoration: underline;
  color: pink;
}

.topnav .icon {
  display: none;
}
.imgSlides {
  display: none;
}
/* Slideshow*/
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1000px;
  max-height: 460px;
}
.slideshow-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  max-height: 460px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  color: black;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Carousel Caption */
.carousel-caption {
  display: inline-block;
  font-size: 2em;
  color: white;
  position: absolute; /* remove from document flow */
  left: 50%; /* center horizontally */
  top: 50%; /* center vertically */
  transform: translate(-50%, -50%);
}

.key-highlights {
  background: violet;
  height: 200px;
}
/* Scaffolding Service */
.proj-container {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
}
.proj-container img {
  width: 100%;
}
h2 {
  margin: 30px 10px;
}
.proj-Link {
  text-decoration: none;
}
.proj-Link:visited {
  color: white;
}
/* Boxes */
#boxes .box {
  flex: 33.33%;
  padding: 5px;
  width: 30%;
  height: 30%;
}
#boxes .box h3 {
  padding: -100px 0px;
  position: relative;
  float: none;
}
#boxes .box img {
  width: 100%;
  height: 100%;
}
#boxes .proj-Text {
  display: inline-block;
  /* margin-left: px; */
  color: white;
  position: absolute;
  background: black;
}

/* Mobile View */
@media screen and (max-width: 633px) {
  .topnav a:not(.logo) {
    display: none;
  }
  .topnav .logo img {
    padding: 0 0px;
    margin: 0;
    float: left;
    position: relative;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding: 30px 16px;
  }
  .topnav.responsive a.icon {
    float: right;
    display: block;
    padding: 30px 16px;
    font-size: 30;
  }
  .topnav.responsive .logo {
    padding: 0;
    margin: 0;
    float: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: table;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav {
    float: none;
  }
  #boxes .box {
    flex: 100%;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
  }
}
